@import url("https://fonts.googleapis.com/css2?family=Meddon&display=swap");
.landing {
  width: 100vw;
  margin-top: 50px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: orangered;
}

h2 {
  color: rgb(147, 121, 26);
}

h3 {
  color: rgb(147, 121, 26);
}

body {
  background-color: black;
  font-family: "Meddon";
}
